.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
}

.App-container {
  position: relative;
  width: 100%;
}

.App-home {
  padding: 0 100px;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.App-home::before {
  content: "";
  position: absolute;
  height: 1013px;
  width: 1013px;
  left: -336px;
  top: -305px;
  border-radius: 50%;
  background: #002853;
  filter: blur(564px);
}

#cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 1px solid #ff8a71;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  mix-blend-mode: difference;
  display: block;
}

@media screen and (max-width: 1086px) {
  .App-home{
    padding: 0 50px;
  }
} 

@media screen and (max-width: 680px) {
  .App-home{
    padding: 0 20px;
  }
} 

